.button {
  background-color: #ff4c29;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  font-size: 1.09rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background-color: #da3615;
}

.arrow {
  margin-left: 0.5rem;
  width: 0.9rem;
  filter: invert(1);
}
